<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js – The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section data-markdown>
					<script type="text/template">
						# Cylc Lint

						---

						## Purpose 🐬

						* **Cylc 7 to 8 conversion**
						* Inform users about the [Cylc Style Guide](https://cylc.github.io/cylc-doc/stable/html/workflow-design-guide/style-guide.html)

						---

						## What about Cylc Validate?

						```ini
							{% if condition is False %}

								# Cylc Validate won't help you here!
								%include = 'these_settings_not_checked.cylc'
								deprecated_setting = false

							{% endif %}

						```
						---

						### 🧮 Can you give you line numbers:

						```console
						[U998] flow.cylc:4: [cylc] -> [scheduler]
						```

						---

						### 💔 Doesn't fail on the first exception:

						```console
						WorkflowConfigError: missing [scheduling] section.
						```

						---

						## Benefits of Style linting

						---

						### 👓 Config is more readable

						```toml
							[runtime]
							[[my_task]]
							script = echo "Hello ${WORLD}"
							[[[environment]]]
							WORLD="Golgafrincham"
							[[another_task]]
						```

						```toml
							[runtime]
							    [[my_task]]
									script = echo "Hello ${WORLD}"
									[[[environment]]]
										WORLD="Golgafrincham"
								[[another_task]]
						```

						---

						### ⚠️ Avoid Gotchas

						```toml
						# {% if QUESTION == 'ultimate' %}
						#     {% ... do stuff ... %}
						# {% endif %}
						```


						---

						## Basic Example

						Can you spot the problems?

						(2 upgade, 1 style)

						```ini
						#!jinja2
						{% set FOO = 042 %}

						 [cylc]
						```

						```console
						cylc lint ./eg-1     # -r all
						cylc lint ./eg-1 -r style
						cylc lint ./eg-1 -r 728
						```

						---

						## 🆙 728 Rules

						Highlights only - see [docs](https://cylc.github.io/cylc-doc/stable/html/user-guide/writing-workflows/configuration.html#to-8-upgrades) for full details.

						- Looks for deprecated settings.
						- Looks for deprecated environment variables.
						- Looks for use of non-Cylc8 commands e.g. `cylc reset`

						---

						### 🖋️ Style Rules

						Highlights only - see [docs](https://cylc.github.io/cylc-doc/stable/html/user-guide/writing-workflows/configuration.html#style) for fuller list.

						- Line length, trailing spaces, some indents.
						- `inherit = lower_case` (FAMILY?)
						- Jinja2 present with no shebang.

						---

						## Pyproject.toml

						> My project uses 2 Char indents
						> and allows very long lines.

						---

						```toml
						# flow.cylc fragment
						[runtime]
						  [[task]]
							script """
								echo "'Antidisestablismentarianism is a very long word - can you spell it?' is not quite long enough to trip the defauly 130 char line length limit."
							"""
						```

						```toml
						# pyproject.toml
						[cylc-lint]
						    ignore = ['S004']       # rules
						    max-line-length = 250
							rulesets = ['style']
						    exclude = []            # files
						```

						---

						## Limitations 🚧

						Line by line

						```toml
						# This config is 🚮
						[runtime]
							initial cycle point = 1066-10-14
						```

						---

						## 🫵 Cylc Lint Needs YOU!

						https://github.com/cylc/cylc-flow

						`cylc/flow/scripts/lint.py`

						---

						Rules have a standard definition

						```python
							"S013": {
								'short': 'Hello Tim',
								'function': re.compile(r'Tim').findall
							},
						```

						---

						* Helps you upgrade 7-to-8.
						* Makes your `flow.cylc` easier to read.
						* Teaches you about the style guide.
						* Helps you avoid "Gotchas"

						### The End
					</script>
				</section>

			</div>

		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/zoom/zoom.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/search/search.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>

			// Also available as an ES module, see:
			// https://revealjs.com/initialization/
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
			});

		</script>

	</body>
</html>
